
@{
    ViewBag.Title = "_LoginPartial";
}

<ul class="nav navbar-nav navbar-right">
    <li>
    <li>@Html.ActionLink("Rejestruj", "Register", "User")</li>
    <li>@Html.ActionLink("Zaloguj", "Login", "User")</li>
    </li>

</ul>

