
@{
    ViewBag.Title = "_UserPartial";
    var user_name = ViewBag.user_name;
}

@*tutaj trzeba znaleźć style z bootstrapa chyba pasujące, żeby to wyglądało ładnie jak cały layout*@

<div style="font-size:20px; float:right; color:white; padding:10px"> 
   
     Witaj @user_name
    
    
    
</div>


