
@{
    ViewBag.Title = "Regist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-box">
    <h1>Register</h1>
    <div class="textbox">
        <label>Email</label>
        <input type="text" placeholder="Email" name="" value="" />
    </div>

    <div class="textbox">
        <label>Password</label>
        <input type="password" placeholder="Password" name="" value="" />
    </div>

    <div class="textbox">
        <label>Repeat Password</label>
        <input type="password" placeholder="Repeat Password" name="" value="" />
    </div>

    <div class="textbox">
        <label>Firstname</label>
        <input type="text" placeholder="Firstname" name="" value="" />
    </div>

    <div class="textbox">
        <label>Lastname</label>
        <input type="text" placeholder="Lastname" name="" value="" />
    </div>

    <div class="textbox">
        <label>Birthdate</label>
        <input type="date" placeholder="Birthdate" name="" value="" />
    </div>

    <div class="textbox">
        <label>Gender</label>
        <br />
        <input type="radio" id="male" name="Gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="Gender" value="female">
        <label for="female">Female</label><br>
        <input type="radio" id="other" name="Gender" value="other">
        <label for="other">Other</label>
    </div>

    <input class="btn" type="button" name="" value="Sign on" />

</div>

