@model Prezentomat.Models.GatheringClass

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<main>
<body>
    <h3>Czy na pewno chcesz usunąć tą zbiórke?</h3>
    <div>
        <div class="card shadow-sm">
        <img src=@Html.DisplayFor(model=>model.gathering_image) class="img-thumbnail" alt="...">

            
        <h4 class="card-text">@Html.DisplayFor(model => model.gathering_name)</h4>
        <p class="card-text">@Html.DisplayFor(model => model.gathering_description)</p>
               
            
        </div>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="features-clean">
                <input type="submit" value="Delete" class="btn btn-primary" style="width: 200px; border: 1px solid; border-radius: 15px; padding:10px; background:none; cursor:pointer;" /> 
                <br />
                <br />
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
    </main>
</html>
