@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Strona główna";
}
<main>

    <div class="Flex-box-col">

        <div class="Flex-box-row">

            
                   Nasza aplikacja powstała aby ułatwić organizację zbiórek na różne cele.
                
                
                    Skorzystaj z niej! ;)


        </div>
        <hr style="width:200px;"/>
        <div class="Flex-box-row">

            Nie masz konta? Zarejestruj się.

        </div>



    </div>




   

</main>