@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Strona główna";
}
<main>
    
    <h1>
        Witaj na stronie głównej!

    </h1>

    <p>
        Strona w budowie :)
    </p>

</main>